{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{heading}}</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <a href = "{% url 'view_listing' listing_id=listing.pk %}">
                    <span style="display: block;">
                        <div>
                            <h3>{{listing.title}}</h3>
                            {% if listing.category %}
                                <div>
                                    Category: {{listing.category}}
                                </div>
                            {% endif %}
                            {% if listing.image %}
                                <div>
                                    <img src={{listing.image}}>
                                </div>
                            {% endif %}
                            <div>
                                <p>{{listing.description}}</p>
                            </div>
                            <div>
                                Current bid: £{{listing.current_bid}}
                            </div>
                        </div>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}