{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="test-id">Categories</h2>
    <div class="container" id="category-link">
        {% for category in categories %}
            <div>
                <a href="{% url 'category' category_name=category %}">{{category}}</a>
            </div>
        {% endfor %}
    </div>
    <!-- <ul>
        {% for category in categories %}
            <li>
                <span class="category">
                    <a href="{% url 'category' category_name=category %}">{{category}}</a>
                </span>
            </li>
        {% endfor %}
    </ul> -->
{% endblock %}